html, body, header, footer, h1, p {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #FFF;
  background-color: #5E3780;
  padding-top: 100px;
}

h1 {
  margin: 40px;
}

h1 img {
  box-shadow: 0px 8px 51px 4px rgba(0, 5, 66, 0.1);
  border-radius: 30px;
}

a {
  color: #FFF;
  transition-duration: 0.5s;
}

a:hover {
  opacity: 0.6;
}

.message {
  font-size: 20px;
  font-family: 'Crimson Text', serif;
}

footer {
  margin: 70px 0 50px;
  font-size: 13px;
}
