html, body, header, footer, h1, p {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #5e3780;
  padding-top: 100px;
}

h1 {
  margin: 40px;
}

h1 img {
  box-shadow: 0 28px 36px -7px rgba(0, 5, 66, 0.15);
  border-radius: 30px;
}

a {
  color: #fff;
  transition-duration: .5s;
}

a:hover {
  opacity: .6;
}

.message {
  font-size: 20px;
  font-family: 'Crimson Text', serif;
}

footer {
  margin: 70px 0 50px;
  font-size: 13px;
}
