@mixin authenticate-button($backgroundColor) {
  position: relative;

  $buttonHeight: 55px;

  a, .authenticate-button-inner {
    @include position(0, 0);
    @include box(283px, $buttonHeight);
    line-height: $buttonHeight;
    text-align: center;
    letter-spacing: 2px;
    background: $backgroundColor;
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 3px darken($backgroundColor, 7%);
    border-radius: 6px;
    cursor: pointer;

    &:active {
      top: 2px;
      box-shadow: 0 1px darken($backgroundColor, 7%);
    }
  }
}
