$themaBgColor: #685a8c;
$defaultColor: #606060;
$commonTextColor: #343844;
$commonBgColor: #343844;
$disabledColor: #9fa0a4;
$primaryColor: #579aa9;
$secondaryColor: #a2b1be;
$warningColor: #e76e66;
$linkColor: #606060;
$highlightColor: #64c1d6;

@mixin liner-gradient($from, $to) {
  background: $from;
  background: -webkit-linear-gradient($from, $to);
  background: -moz-   linear-gradient($from, $to);
}

@mixin thema-bg-color {
  background: $themaBgColor;
}

@mixin default-color {
  color: $defaultColor;
}

@mixin common-text-color {
  color: $commonTextColor;
}

@mixin common-bg-color {
  background: $commonBgColor;
}

@mixin disabled-color {
  color: $disabledColor;
}

@mixin primary-color {
  color: $primaryColor;
}

@mixin secondary-color {
  color: $secondaryColor;
}

@mixin warning-color {
  color: $warningColor;
}

@mixin link-color {
  color: $linkColor;
}

@mixin highlight-color {
  color: $highlightColor;
}

@mixin placeholder-color($color) {
  &:-moz-placeholder {
    color:$color;
  }
  &::-webkit-input-placeholder {
    color:$color;
  }
 }
