.footer {
  text-align: center;
  height: 90px;
  width: 100%;
  line-height: 90px;
  font-size: 11px;
  background-color: #fff;
  color: #333744;
  position: absolute;
  bottom: 0;

  a {
    font-size: 11px;
    margin-left: 5px;
  }
}
