@import 'mixins/all.css.scss';

.menu-list,.menu-list-lower {
  $boxHeight: 40px;

  position: relative;
  height: $boxHeight;

  ul {
    @include horizontal-list;

    li {
      cursor: pointer;
      margin: 11px 40px 0 0;

      &, a {
        display: block;
        text-decoration: none;
        color: #bbb;
      }

      a {
        transition: color .2s linear;

        &:hover {
          @include common-text-color;
          font-weight: bold;
        }
      }

      &.active, &.active a {
        @include common-text-color;
        font-weight: bold;
      }
    }
  }
}

.menu-list {
  margin: 25px 0 0 0;
}

.menu-list-lower {
  margin: 8px 0;
}
