.popover-menu {
  position: absolute;
  width: 240px;
  z-index: 10;

  .arrow-icon {
    margin: 0 0 0 211px;
  }

  .menu-box {
    background-color: #373B47;
    color: #fff;
    margin-top: -5px;
    box-shadow: 0 1px 5px rgba(0,0,0,.41);

    ul {
      @include none-style-list;

      li {
        $boxHeight: 60px;

        height: $boxHeight;
        border-bottom: solid 1px #3e414d;

        &:last-of-type {
          border-bottom: none;
        }

        a {
          display: block;
          color: #fff;
          text-decoration: none;
          height: $boxHeight;
          position: relative;

          &:hover {
            background-color:#3e414d;
          }

          .menu-text {
            height: $boxHeight;
            line-height: $boxHeight;
            margin-left: 60px;
          }

          img.menu-icon {
            @include position(50%, 20px);
            margin-top: -10px;
          }
        }
      }
    }
  }
}
