.tutorial-box-container {
  $tutorialImageWidth: 246px;
  $listPadding: 40px;
  $headerHeight: 64px;
  $tutorialBoxWidth: $tutorialImageWidth * 3 + $listPadding * 4;

  width: $tutorialBoxWidth + 172;

  .tutorial-step-arrow {
    float: left;
    cursor: pointer;
    margin-top: 200px;
    width: 86px;

    img {
      transition: 0.3s ease-in-out;

      &:hover {
        opacity: 0.4;
        filter: alpha(opacity=60);
      }
    }
  }

  .tutorial-box {
    float: left;
    width: $tutorialBoxWidth;
    background-color: #fff;

    .tutorial-box-header {
      @include box(100%, $headerHeight);
      @include common-bg-color;
      line-height: 66px;
      color: #fff;
      font-size: 18px;
      text-align: center;
      position: relative;

      .tutorial-box-closer {
        position: absolute;
        right: 0;
        cursor: pointer;
      }
    }

    .tutorial-sebastian {
      float: left;
      padding: 92px 60px;
    }

    .about-intobox {
      margin: 80px 60px 0 0;

      h2 {
        font-size: 20px;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 3px;
      }
    }

    ul.tutorial-steps {
      @include horizontal-list;
      padding-left: $listPadding;
      height: 400px;

      li {
        width: $tutorialImageWidth;
        padding: $listPadding $listPadding 0 0;

        img {
          margin-bottom: 20px;
        }
      }
    }

    .tutorial-pager {
      margin: 0 auto;
      height: 40px;

      &.page2 { width: 40px; }
      &.page3 { width: 60px; }

      a {
        float: left;
        @include box(10px, 10px);
        background-color: #e0e0e0;
        border-radius: 50%;
        margin: 5px;
        cursor: pointer;

        &.active {
          @include common-bg-color;
        }
      }
    }
  }
}
